<nav>
  <% if (user) { %>
    <div class="navbar">
      <h1 id="nav-header">Therapy Notebook</h1>
      <div class="nav-links">
        <a class="authlinknav" href="/users">Group Therapy Members</a>
        <a class="authlinknav" href="/users/<%= user._id %>/triggers">Your Notebook</a>
        <a class="authlinknav" href="/users/<%= user._id %>/humans">My Humans</a>
        <a class="authlinknav" href="/auth/sign-out">Sign Out</a>

      </div>
    </div>
  <% } else { %>
    <div class="navbar2">
      <ul>
        <!-- Other links can go here if needed for non-logged in users -->
      </ul>
    </div>
  <% } %>
</nav>
