.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid brown;
    border-radius: 15px; 
  }

/* #nav-header { 
color: #ce4866;
size: 1em !important; 
margin: 0; 
}

.authlink { 
text-decoration: none; 
margin: 0 15px; 
color: #4b598e; 
font-weight: bold; 
}

.authlink:hover { 
color: white; 
} */ */