body {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  width: 700px;
  background-color: #f3be94;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.show-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.show-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.show-header > h1 {
  color: #1c2e5b;
  font-size: 3.4em;
  margin-left: 10px;
}

.show-actions {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0 30px;
}

button {
  padding: 8px 10px;
  background-color: #ce4866;
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 1.1em;
  width: 10em;
  margin: 5px;
}

button:hover {
  background-color: #e84a6c;
}

.show-actions > a {
  background-color: #4b598e;
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  padding: 8px 10px;
  border-radius: 30px;
  width: 10em;
  text-align: center;
  margin: 5px;
  font-family: 'Poppins', sans-serif;
}

.show-actions > a:hover {
  background-color: #1c2e5b;
}

p {
  color: #ce4866;
  font-weight: bold;
  font-size: 1.4em;
  margin: 10px 30px;
  text-align: center;
}

.show-notes-container {
  width: 90%;
  margin: 20px 0;
}

.show-notes-container > a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 1.4em;
  margin: 20px;
}

.show-notes-container > a:hover {
  color: #4b598e;
}

.show-notes {
  background-color: #f6e7e7;
  width: 85%;
  border-radius: 20px;
  padding: 40px 40px 20px 40px;
  margin: 20px 10px;
}

h2 {
  margin: 0 10px;
  color: #1c2e5b;
}

.show-notes > p {
  font-weight: normal;
  color: #1c2e5b;
  text-align: left;
  font-size: 1.2em;
}

/* Style for the navbar when user is logged in */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid brown;
  border-radius: 15px; 
}

/* You might want to add some different styles if the navbar changes when user is not logged in */
.navbar2 {
  background-color: #ffffff; /* White background for contrast */
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ccc;
  border-radius: 15px;

}


#nav-header {
  color: brown; /* Dark grey color for text */
  font-size: 24px; /* Large size for visibility */
  font-weight: bold; /* Bold font for emphasis */
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}


.nav-links {
  display: flex;
  gap: 20px; /* Spacing between links */
  justify-content: center;
}

.authlinknav {
  color: brown; /* Bootstrap primary blue for familiarity */
  text-decoration: none; /* Remove underline */
  font-size: 16px; /* Sufficient size for readability */
  padding: 5px 10px; /* Padding for better touch interaction */
  transition: color 0.3s; /* Smooth transition for hover effect */
}

.authlinknav:hover {
  color: #0056b3; /* Darker blue on hover for visual feedback */
}



@media (max-width: 768px) {
  .navbar, .navbar2 {
      flex-direction: column; /* Stack elements vertically on smaller screens */
  }
  .nav-links {
      flex-direction: column; /* Align links vertically for easier access */
      gap: 10px;
  }
  #nav-header {
      margin-bottom: 10px; /* Add some space between the header and links */
  }
}
